<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljcx.platform.dao.TeamInfoDao">

    <resultMap id="BaseMap" type="com.ljcx.platform.vo.TeamInfoVo">
        <result column="team_id" property="id" />
        <!--column是数据库查询中的参数值，不一定是外键-->
        <collection property="uavs" ofType="UavInfoVo" column="team_id"
                    select="com.ljcx.platform.dao.UavInfoDao.listByTeamId"/>
        <collection property="cars" ofType="CarsInfoBean" column="team_id"
                    select="com.ljcx.platform.dao.CarInfoDao.listByTeamId"/>
        <collection property="members" ofType="MemberVo" column="team_id"
                    select="com.ljcx.user.dao.UserBaseDao.listByTeamId"/>
    </resultMap>

    <sql id="BaseColumns">
        id,user_id,name,memo,room_id,create_user,create_time,is_delete,im_group_id,im_group_name,pid,path
    </sql>

    <select id="list" resultType="com.ljcx.platform.vo.TeamInfoVo" parameterType="com.ljcx.platform.dto.TeamInfoDto">
        select a.id,a.name,b.nickname,a.create_time,a.user_id,a.memo
        from ljcx_team_info a
        left join account_user_base b on a.user_id = b.id
        <where>
            and a.id in (select team_id from ljcx_team_relationship where m_id = #{item.userId} and m_type = 3)
            and a.is_delete = 1
        </where>
    </select>

    <select id="info" resultMap="BaseMap" parameterType="java.lang.Long">
        select a.id team_id,a.name,b.nickname,a.create_time,a.user_id,a.memo
        ,a.im_group_id,a.im_group_name
        from ljcx_team_info a
        left join account_user_base b on a.user_id = b.id
        where a.id = #{id};
    </select>

    <select id="getDataNums" resultType="com.ljcx.platform.vo.MapVo" >
        select (case m_type when 1 then 'uavCount' when 2 then 'carCount' when 3 then 'memberCount' end) `name`
        ,count(1) `value` from ljcx_team_relationship a
        <where>
            <if test="teamId != null and teamId != -1">
                and a.team_id = #{teamId}
            </if>
            <if test="teamId == -1 and userId != null">
                and a.team_id in (select team_id from ljcx_team_relationship where m_type = 3 and m_id = #{userId})
            </if>
        </where>
        group by a.m_type
    </select>

    <select id="getTotalNums" resultType="java.lang.Integer" >
        select count(1) from ljcx_team_relationship a
        <where>
            <if test="teamId != null and teamId != -1">
                and a.team_id = #{teamId}
            </if>
            <if test="teamId == -1 and userId != null">
                and a.team_id in (select team_id from ljcx_team_relationship where m_type = 3 and m_id = #{userId})
            </if>
        </where>
    </select>

    <select id="teamList" resultType="com.ljcx.platform.vo.TeamInfoVo" parameterType="com.ljcx.platform.dto.TeamInfoDto">
        SELECT distinct a.id,a.name,(select nickname from account_user_base where id = a.user_id) nickname,a.create_time,a.user_id,a.memo
        ,a.pid,a.path,false 'canSelect',a.user_id = #{item.userId} 'isAdmin'
        FROM ljcx_team_info a,ljcx_team_info b
        where b.id  in (select team_id from ljcx_team_relationship where m_id = #{item.userId} and m_type = 3) and b.path like CONCAT(a.path,'/%')
        UNION
        SELECT distinct b.id,b.name,(select nickname from account_user_base where id = b.user_id) nickname,b.create_time,b.user_id,b.memo
        ,b.pid,b.path,true 'canSelect',a.user_id = #{item.userId} 'isAdmin'
        FROM ljcx_team_info a,ljcx_team_info b
        where a.id  in (select team_id from ljcx_team_relationship where m_id = #{item.userId} and m_type = 3) and b.path like CONCAT(a.path,'%')
    </select>

    <delete id="cancelTeam" >
        delete from ljcx_team_relationship where
        team_id = #{item.id}
        and m_type = #{item.mType} and m_id in
        <foreach collection="item.mIds" separator="," item="mId" open="(" close=")">
            #{mId}
        </foreach>
    </delete>

    <insert id="bindTeam" >
        insert IGNORE into ljcx_team_relationship(team_id,m_id,m_type,create_user)
        values
        <foreach collection="item.mIds" separator="," item="mId">
            (#{item.id},#{mId},#{item.mType},#{item.createUser})
        </foreach>
    </insert>

    <!--团队下属列表-->
    <select id="teamEqumentCount" resultType="java.lang.Integer" parameterType="java.lang.Long">
        select count(1) from ljcx_team_relationship where team_id = #{teamId};
    </select>

    <!--删除-->
    <delete id="deleteById" parameterType="java.lang.Long">
        delete from ljcx_team_info where id = #{teamId}
    </delete>
</mapper>
