<!--
	无人机卡片模板文件
-->
<script id="tmpl_plane" type="text/x-jquery-tmpl">
<div class="right-tab-content-li plane-on">
    <div class="content-li-text">
        <div class="content-li-text-name">DJI-1586<span class="plane-wrong">异常</span></div>
        <div class="content-li-text-info">大疆M210</div>
    </div>
    <div class="content-li-tool">
        <a href=""><img class="fl" src="../statics/images/left_tab_location_white.png"></a>
        <a href=""><img class="fr" src="../statics/images/left_tab_video_yellow.png"></a>
    </div>
    <div class="clear"></div>
    <ul class="content-li-data">
        <li class="fl">
            <span class="content-li-text-info">高度(m)</span>
            <span class="content-li-text-data">159</span>
        </li>
        <li class="fl">
            <span class="content-li-text-info">速度(m/s)</span>
            <span class="content-li-text-data">36</span>
        </li>
        <li class="fl">
            <span class="content-li-text-info">电量</span>
            <span class="content-li-text-data">48%</span>
        </li>
    </ul>
</div>
</script>