<!--引入资源-->
	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="admin/assets/img/favicon.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    
    <link href="./../css/bootstrap.min.css" rel="stylesheet" />
    <link href="./../libs/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    
    <link href="./../css/light-bootstrap-dashboard.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="./../css/skin/skin.css"/>

    <link href="./../css/demo.css" rel="stylesheet" />

	<link href="./../css/style.css" rel="stylesheet" />
    <link href="./../css/font-awesome.min.css" rel="stylesheet">
    <link href="./../css/pe-icon-7-stroke.css" rel="stylesheet" />
    <script src="./../libs/jQuery/jquery-1.10.2.min.js"></script>
	<script src="./../libs/jQuery/jquery.browser.js"></script>

