<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="x-admin-sm">
<head th:include="common/head_ref::header('团队管理')"></head>
    
    <body>
        <div class="layui-fluid">
            <div class="layui-row">
                <form class="layui-form">
                    <div class="layui-form-item">
                        <label for="name" class="layui-form-label">
                            <span class="x-red">*</span>名称</label>
                        <div class="layui-input-inline">
                            <input type="hidden" name="id" id="id"/>
                            <input type="text" id="name" name="name" required="" lay-verify="name" autocomplete="off" class="layui-input"></div>
                    </div>
                    <div class="layui-form-item">
                        <label for="userId" class="layui-form-label">
                            <span class="x-red">*</span>管理员</label>
                        <div class="layui-input-inline">
                            <select id="userId" name="userId" class="valid" lay-filter="userId">
                                <option value="1">丹妹</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label for="pname" class="layui-form-label">
                            <span class="x-red">*</span>上级团队</label>
                        <div class="layui-input-inline">
                            <input type="hidden" id="pid" name="pid" required="" lay-verify="pid" autocomplete="off" class="layui-input">
                            <input type="hidden" id="prePath" name="prePath" required="" lay-verify="prePath" autocomplete="off" class="layui-input">
                            <input type="text" id="pname" name="pname" required="" lay-verify="pname" autocomplete="off" class="layui-input" readonly placeholder="一级团队">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label for="memo" class="layui-form-label">
                            <span class="x-red">*</span>描述</label>
                        <div class="layui-input-inline">
                            <textarea type="text" id="memo" name="memo" lay-verify="memo" autocomplete="off" class="layui-textarea"></textarea>
                        </div>
                    </div>
        <div class="layui-form-item">
            <label  class="layui-form-label"></label>
            <button class="layui-btn" lay-filter="add" lay-submit="">保存</button></div>
        </form>
        </div>
        </div>
        <th:block th:include="common/loadjs :: loadjs" />
        <script type="text/javascript" src="static/admin/js/modules/team/list_add.js" th:src="@{/static/admin/js/modules/team/list_add.js}"></script>
    </body>

</html>