<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ljcx.api.dao.TaskRecordsDao">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseMap" type="TaskRecordsBean">
    </resultMap>

    <sql id="BaseColumns">
id   ,task_id   ,perform_user   ,start_time   ,end_time   ,complete_status   ,is_delete      </sql>

    <select id="pageList" resultType="TaskRecordsBean" parameterType="com.ljcx.api.dto.TaskDto">
        select
        <include refid="BaseColumns"/>
        from ljcx_task_records a
        <where>
            <if test="item.taskId != null">
                and a.task_id = #{item.taskId}
            </if>
            and a.is_delete = 1
        </where>
    </select>

    <select id="listByTaskId" resultType="com.ljcx.api.vo.TaskRecordsVo" parameterType="java.lang.Long">
        select a.id,b.model,b.no,c.nickname,a.end_time,a.flight_seconds
        from ljcx_task_records a
        left join ljcx_uav_info b on a.plan_id = b.id
        left join account_user_base c on c.id = a.perform_user
        where a.task_id = #{taskId}
    </select>

    <select id="dataByPlanId" resultType="map" parameterType="java.lang.Long">
        select count(1) task_num,sum(flight_seconds) flight_sum_seconds  from ljcx_task_records
        where plan_id = #{planId}
    </select>

    <select id="dataByTaskId" resultType="map" parameterType="java.lang.Long">
        select count(id) flightCount,ifnull(sum(flight_length),0) flightLength
        ,ifnull(sum(flight_seconds),0) flightSumSeconds,ifnull(ROUND(avg(flight_seconds),0),0) flightAvgSeconds
        from ljcx_task_records
        where task_id= #{taskId}
    </select>
</mapper>