*{margin:0;padding:0;box-sizing:border-box;}
input{padding:0;margin:0;}
ul,li{list-style: none;}
img{vertical-align: top;}
html{width:100%;height:100%;}
body{overflow: hidden;width: 100%;height:100%;}
.body-box{
	width:100%;
	height: 100%;
	background: url(../../images/login/bg-pic.jpg) no-repeat center;
	background-size: cover;
	position: absolute;
	z-index:5;
}
.main-content{
	position: absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	display: table;
	width:100%;
	height:100%;
}
.main-innercon{
	display: table-cell;
	padding-top: 12.5%;
	text-align: center;
}
.z-box{
	width:560px;
	height:365px;
	margin: 0 39%;
	position: relative;
}
.login-box{
	z-index: 6;
	padding: 125px 40px 10px 40px;
	position: relative;
	float: left;
	width: 420px;
	height: 100%;
	background: url(../../images/login/login_box.png) center 60px no-repeat;
	overflow: hidden;
}
.login-input{
	margin:20px 0;
	width: 100%;
	color: #fffefe;
	height: 46px;
	background: transparent;
	border: 1px solid #fff;
}
.login-input .form-control{
	width: 300px;
	height: 46px;
	padding:0px 0px 0px 10px;
	border:none;
	float: left;
	line-height: 18px;
	color: #fff;
	box-shadow: none;
	font-size: 14px;
	background-color:transparent;
}
input:-webkit-autofill{
	-webkit-text-fill-color: #ededed !important;
	-webkit-box-shadow: 0 0 0px 1000px transparent  inset !important;
	background-color:transparent;
	background-image: none;
	transition: background-color 50000s ease-in-out 0s; //背景色透明  生效时长  过渡效果  启用时延迟的时间
}
.login-input .form-control:focus{
	box-shadow: none;
}
.switch-btn{
	display: inline-block;
	vertical-align: top;
	position: relative;
	margin-right: 20px;
}
.switch-box i{
	display: block;
	width:18px;
	height:18px;
	position: absolute;
	background: url(../../images/login/switch-btn-off.png) left center no-repeat;
}
.switch-box.on i{
	background: url(../../images/login/switch-btn-on.png) left center no-repeat;
}
.switch-box.on .switch-btn{
}
.login-input .login-ico{position: relative;}
.login-ico:before{
	content: '';
	width:36px;
	height:26px;
	margin:10px 0px;
	border-right: 1px solid rgba(188,188,188,.2);
	display: inline-block;
	background: url(../../images/login/login_user_icon.png) center no-repeat;
	float: left;
}
.login-ico02:before{
	content: '';
	width:36px;
	height:26px;
	display: inline-block;
	background: url(../../images/login/login_password_icon.png) center no-repeat;
	float: left;
}
/*
.login-ico01:before{background-position:2px 3px;}
.login-ico02:before{background-position:-38px 3px;}
*/

.loginBtn{
	width:100%;
	padding:10px 12px;
	font-size: 18px;
	background: #000;
	margin-top:20px;
	border:none;
}
.loginBtn:hover{
	background: #000;
	opacity: 0.6;
}
.login-info{
	margin-top:20px;
	color: #bcbcbc;
}
.login-tips{
	text-align: left;
	font-size: 14px;
	position: absolute;
	z-index: 999;
	top: 110px;
	color: red;
	padding: 0px 5px;
	visibility: hidden;
}
.code-box{
	position: absolute;
	width: 170px;
	height: 220px;
	bottom: 0px;
	right: 0px;
	z-index: 6;
	padding: 5px 6px;
	overflow: hidden;
	background-color: #fff;
	border-radius: 3px;
	display: none;
}
.code-box span{
	font-family: "microsoft yahei", "Helvetica Neue", Arial, sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 53px;
}
.code-box img{
	width: 155px;
	height: 155px;
}
.footer{
	text-align: center;
	position: absolute;
	bottom: 24px;
	width: 100%;
	line-height: 24px;
	font-family: '宋体';
	font-size: 12px;
	color: #dcdddd;
	z-index: 10;
}
.footer a{
	color: #dcdddd;
	text-decoration: none;
}
.code{
	position: relative;
	float: right;
	width: 26px;
	margin-top: -4px;
	height: 26px;
	z-index: 5;
	background: url(../../images/login/icon-code.png) center top no-repeat;
	cursor: pointer;
}
/*.code a{
	width: 60px;
	height: 50px;
	padding-top: 30px;
	display: block;
	border-radius: 5px;
	background: url(../../images/login/icon-code.png) center top no-repeat rgba(27,27,27,.6);
	color: #bcbcbc;
	font-size: 12px;
	text-align: center;
	cursor: pointer;
}
.code:hover{
	color: #fff;
	text-decoration: none;
}
.code img{
	position: absolute;
	float: right;
	display: block;
	width: 300px;
	height: 300px;
}
.code:hover+img{
	display: block;
}
*/
@media only screen and (min-width: 700px) and (max-width: 1200px) {
	.main-innercon .logo,.z-box{transform: scale(.82); }
	.z-box{z-index:5;margin: 0 31%;}
	.body-box{transform: scale(1); }
	.main-innercon{padding-top:10%;}
	.logo{padding-bottom:0px;}
}
@media only screen and (min-width: 1200px) and (max-width: 1300px) {
	.main-innercon .logo,.z-box{transform: scale(.84); }
	.z-box{z-index:5;}
	.body-box{transform: scale(1); }
	.main-innercon{padding-top:10%;}
	.logo{padding-bottom:0px;}
}
@media only screen and (min-width: 1300px) and (max-width: 1400px) {
	.main-innercon .logo,.z-box{transform: scale(.86); }
	.z-box{z-index:5;}
	.body-box{transform: scale(1); }
	.main-innercon{padding-top:10%;}
	.logo{padding-bottom:20px;}
}
@media only screen and (min-width: 1400px) and (max-width: 1500px) {
	.main-innercon .logo,.z-box{transform: scale(.86); }
	.z-box{z-index:5;}
	.body-box{transform: scale(1); }
	.main-innercon{padding-top:10%;}
	.logo{padding-bottom:30px;}
}
@media only screen and (min-width: 1500px) and (max-width: 1600px) {
	.main-innercon .logo,.z-box{transform: scale(.9); }
	.z-box{z-index:5;}
	.body-box{transform: scale(1); }
	.main-innercon{padding-top:10%;}
	.logo{padding-bottom:50px;}
}
@media only screen and (min-width: 1600px) and (max-width: 1700px) {
	/*.main-innercon .logo,.z-box{transform: scale(.96); }*/
	.body-box{transform: scale(1); }
	.main-innercon{padding-top:10%;}
	.logo{padding-bottom:50px;}
}
