package ${package}.${moduleName}.service.impl;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import com.baomidou.mybatisplus.extension.service.impl.ServiceImpl;
import com.ljcx.framework.sys.service.IGenerator;

import ${package}.${moduleName}.dao.${className}Dao;
import ${package}.${moduleName}.beans.${className}Bean;
import ${package}.${moduleName}.service.${className}Service;
import ${package}.${moduleName}.dto.${className}Dto;


@Service
public class ${className}ServiceImpl extends ServiceImpl<${className}Dao, ${className}Bean> implements ${className}Service {

    @Autowired
    private IGenerator generator;

    @Autowired
    private ${className}Dao ${classname}Dao;

    @Override
    public IPage<${className}Bean> pageList(${className}Dto ${classname}Dto) {
        IPage<${className}Bean> page = new Page<>();
        page.setCurrent(${classname}Dto.getPageNum());
        page.setSize(${classname}Dto.getPageSize());
        return ${classname}Dao.pageList(page,${classname}Dto);
    }

}
