package ${package}.${moduleName}.service;

import com.baomidou.mybatisplus.extension.service.IService;
import com.baomidou.mybatisplus.core.metadata.IPage;
import ${package}.${moduleName}.beans.${className}Bean;
import ${package}.${moduleName}.dto.${className}Dto;


/**
 * ${comments}
 *
 * @author ${author}
 * @date ${datetime}
 */
public interface ${className}Service extends IService<${className}Bean> {

    IPage<${className}Bean> pageList(${className}Dto ${classname}Dto);
}

